.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 5% 100px;
  min-height: 100vh;
}

.product img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  background: transparent;
  z-index: 10;
  backdrop-filter: blur(24px);
  padding: 15px 5%;
}

.footer {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--darkgrey);
  position: fixed;
  bottom: 0px;
  max-height: 100px;
  max-width: 800px;
}
